In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [4]:
#Load your DataFrames
jan2020 = pd.read_csv('./filtered_simba/2020 Jan-June_filtered.csv')
feb2021 = pd.read_csv('./filtered_simba/2021 Jan-June_filtered.csv')
june22 = pd.read_csv('./filtered_simba/2022 Jan-June_filtered.csv')
july22 = pd.read_csv('./filtered_simba/2022 Jul-Dec_filtered.csv')
june23 = pd.read_csv('./filtered_simba/2023_filtered.csv')
july23 = pd.read_csv('./filtered_simba/2023_filtered.csv')

#Prepare sets of columns for comparison
cols_jan2020 = set(jan2020.columns)
cols_feb2021 = set(feb2021.columns)
cols_june22 = set(june22.columns)
cols_july22 = set(july22.columns)
cols_june23 = set(june23.columns)
cols_july23 = set(july23.columns)

# List of column sets for easy comparison
column_sets = [cols_jan2020, cols_feb2021, cols_june22, cols_july22, cols_june23, cols_july23]

In [5]:
# Find the intersection of all columns (common columns)
common_columns = set.intersection(*column_sets)
print(f"Common columns across all DataFrames:\n{common_columns}\n")

# Find unique columns in each DataFrame
for i, cols in enumerate(column_sets):
    unique_cols = cols - common_columns
    if unique_cols:
        print(f"Unique columns in DataFrame {i + 1}:\n{unique_cols}\n")
    else:
        print(f"DataFrame {i + 1} has no unique columns.\n")

Common columns across all DataFrames:
{'VEHICLE_TAX', 'PRL', 'CUSTOMSVALUE', 'IMPORT_DUTY', 'COUNTRYOFORIGIN', 'BIF', 'VAT_RATE', 'MONTH_', 'IMPORT_VAT', 'HS_CHAPTER', 'DUTY_RATE', 'TAX_PAYABLE', 'YEAR', 'FOB', 'TAX_REMITTED', 'FOBCURRENCYCODE', 'REGIME', 'COUNTRYOFDESTINATION', 'HSCODE', 'REGDATE', 'QUANTITY', 'CPC', 'PORT_OF_DISCHARGE', 'PDL', 'EXCISE_RATE', 'OTHER_TAX', 'CIF_VALUE', 'ENTRYSTATUS', 'ENTRY_NUMBER', 'ITEM_NO', 'RML', 'EXCISE', 'DESCRIPTION'}

DataFrame 1 has no unique columns.

DataFrame 2 has no unique columns.

DataFrame 3 has no unique columns.

DataFrame 4 has no unique columns.

DataFrame 5 has no unique columns.

DataFrame 6 has no unique columns.

In [6]:
dataframes = [jan2020, feb2021, june22, july22, june23, july23]

# Column indices you want to clean and convert to float
columns_of_interest = [9, 10, 12, 22, 23, 24, 25, 28, 29, 32]

# Function to clean and convert data to float using regular expressions
def clean_and_convert(value):
    if isinstance(value, float):  # If it's already a float, return it as is
        return value
    # Remove any non-numeric characters except for '.' (for decimals)
    cleaned_value = re.sub(r'[^\d.]', '', value)
    
    # Remove commas (if they exist after numbers)
    cleaned_value = cleaned_value.replace(',', '')

    # Convert to float if possible, else return NaN
    try:
        return float(cleaned_value)
    except ValueError:
        return np.nan

# Loop through each DataFrame and clean/convert the specified columns
for i, df in enumerate(dataframes):
    for col_index in columns_of_interest:
        if col_index < df.shape[1]:  # Check if column index is within bounds
            if not pd.api.types.is_float_dtype(df.iloc[:, col_index]):  # Check if the column is not already float
                try:
                    # Apply the cleaning and conversion function
                    df.iloc[:, col_index] = df.iloc[:, col_index].apply(clean_and_convert)
                except Exception as e:
                    # Print the error, DataFrame index, and column index
                    print(f"Error converting column {col_index} in DataFrame {i+1}: {e}")
        else:
            print(f"Column {col_index} is out-of-bounds in DataFrame {i+1}.")
    print(f"Processed DataFrame {i+1}.")

Error converting column 12 in DataFrame 1: expected string or bytes-like object, got 'int'
Processed DataFrame 1.
Error converting column 12 in DataFrame 2: expected string or bytes-like object, got 'int'
Processed DataFrame 2.
Error converting column 12 in DataFrame 3: expected string or bytes-like object, got 'int'
Processed DataFrame 3.
Error converting column 12 in DataFrame 4: expected string or bytes-like object, got 'int'
Processed DataFrame 4.
Error converting column 12 in DataFrame 5: expected string or bytes-like object, got 'int'
Error converting column 28 in DataFrame 5: expected string or bytes-like object, got 'int'
Error converting column 29 in DataFrame 5: expected string or bytes-like object, got 'int'
Processed DataFrame 5.
Error converting column 12 in DataFrame 6: expected string or bytes-like object, got 'int'
Error converting column 28 in DataFrame 6: expected string or bytes-like object, got 'int'
Error converting column 29 in DataFrame 6: expected string or bytes-like object, got 'int'
Processed DataFrame 6.

/tmp/ipykernel_532183/1903567206.py:29: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, col_index] = df.iloc[:, col_index].apply(clean_and_convert)

In [7]:
# Loop through each DataFrame to inspect the data types of the specified columns
for i, df in enumerate(dataframes):
    print(f"\nDataFrame {i+1} info:")
    df.iloc[:, columns_of_interest].info()

DataFrame 1 info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COUNTRYOFDESTINATION  0 non-null      float64
 1   PORT_OF_DISCHARGE     0 non-null      float64
 2   HSCODE                3772 non-null   int64
 3   DUTY_RATE             2594 non-null   float64
 4   EXCISE_RATE           2594 non-null   float64
 5   VAT_RATE              2594 non-null   float64
 6   BIF                   506 non-null    float64
 7   PRL                   2594 non-null   float64
 8   PDL                   2594 non-null   float64
 9   TAX_REMITTED          2258 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 294.8 KB

DataFrame 2 info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2555 entries, 0 to 2554
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COUNTRYOFDESTINATION  0 non-null      float64
 1   PORT_OF_DISCHARGE     0 non-null      float64
 2   HSCODE                2555 non-null   int64
 3   DUTY_RATE             2538 non-null   float64
 4   EXCISE_RATE           2538 non-null   float64
 5   VAT_RATE              2538 non-null   float64
 6   BIF                   458 non-null    float64
 7   PRL                   2538 non-null   float64
 8   PDL                   2538 non-null   float64
 9   TAX_REMITTED          2230 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 199.7 KB

DataFrame 3 info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COUNTRYOFDESTINATION  0 non-null      float64
 1   PORT_OF_DISCHARGE     0 non-null      float64
 2   HSCODE                233 non-null    int64
 3   DUTY_RATE             224 non-null    float64
 4   EXCISE_RATE           224 non-null    float64
 5   VAT_RATE              224 non-null    float64
 6   BIF                   54 non-null     float64
 7   PRL                   224 non-null    float64
 8   PDL                   224 non-null    float64
 9   TAX_REMITTED          162 non-null    float64
dtypes: float64(9), int64(1)
memory usage: 18.3 KB

DataFrame 4 info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COUNTRYOFDESTINATION  0 non-null      float64
 1   PORT_OF_DISCHARGE     0 non-null      float64
 2   HSCODE                15 non-null     int64
 3   DUTY_RATE             9 non-null      float64
 4   EXCISE_RATE           9 non-null      float64
 5   VAT_RATE              9 non-null      float64
 6   BIF                   3 non-null      float64
 7   PRL                   9 non-null      float64
 8   PDL                   9 non-null      float64
 9   TAX_REMITTED          10 non-null     float64
dtypes: float64(9), int64(1)
memory usage: 1.3 KB

DataFrame 5 info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COUNTRYOFDESTINATION  0 non-null      float64
 1   PORT_OF_DISCHARGE     0 non-null      float64
 2   HSCODE                1 non-null      int64
 3   DUTY_RATE             1 non-null      float64
 4   EXCISE_RATE           1 non-null      float64
 5   VAT_RATE              1 non-null      float64
 6   BIF                   0 non-null      float64
 7   PRL                   1 non-null      int64
 8   PDL                   1 non-null      int64
 9   TAX_REMITTED          1 non-null      float64
dtypes: float64(7), int64(3)
memory usage: 212.0 bytes

DataFrame 6 info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   COUNTRYOFDESTINATION  0 non-null      float64
 1   PORT_OF_DISCHARGE     0 non-null      float64
 2   HSCODE                1 non-null      int64
 3   DUTY_RATE             1 non-null      float64
 4   EXCISE_RATE           1 non-null      float64
 5   VAT_RATE              1 non-null      float64
 6   BIF                   0 non-null      float64
 7   PRL                   1 non-null      int64
 8   PDL                   1 non-null      int64
 9   TAX_REMITTED          1 non-null      float64
dtypes: float64(7), int64(3)
memory usage: 212.0 bytes

In [8]:
# Extract columns from each DataFrame
cols_jan2020 = set(jan2020.columns)
cols_feb2021 = set(feb2021.columns)
cols_june22 = set(june22.columns)
cols_july22 = set(july22.columns)
cols_june23 = set(june23.columns)
cols_july23 = set(july23.columns)

# List of column sets for easy comparison
column_sets = [cols_jan2020, cols_feb2021, cols_june22, cols_july22, cols_june23, cols_july23]

# Find the intersection of all columns (common columns)
common_columns = set.intersection(*column_sets)
print(f"Common columns across all DataFrames:\n{common_columns}\n")

# Find unique columns in each DataFrame
for i, cols in enumerate(column_sets):
    unique_cols = cols - common_columns
    if unique_cols:
        print(f"Unique columns in DataFrame {i + 1}:\n{unique_cols}\n")
    else:
        print(f"DataFrame {i + 1} has no unique columns.\n")

Common columns across all DataFrames:
{'VEHICLE_TAX', 'PRL', 'CUSTOMSVALUE', 'IMPORT_DUTY', 'COUNTRYOFORIGIN', 'BIF', 'VAT_RATE', 'MONTH_', 'IMPORT_VAT', 'HS_CHAPTER', 'DUTY_RATE', 'TAX_PAYABLE', 'YEAR', 'FOB', 'TAX_REMITTED', 'FOBCURRENCYCODE', 'REGIME', 'COUNTRYOFDESTINATION', 'HSCODE', 'REGDATE', 'QUANTITY', 'CPC', 'PORT_OF_DISCHARGE', 'PDL', 'EXCISE_RATE', 'OTHER_TAX', 'CIF_VALUE', 'ENTRYSTATUS', 'ENTRY_NUMBER', 'ITEM_NO', 'RML', 'EXCISE', 'DESCRIPTION'}

DataFrame 1 has no unique columns.

DataFrame 2 has no unique columns.

DataFrame 3 has no unique columns.

DataFrame 4 has no unique columns.

DataFrame 5 has no unique columns.

DataFrame 6 has no unique columns.

In [9]:
# combined_df = pd.concat([jan2020, feb2021, june22, july22, june23, july23], ignore_index=True)

# # Save the combined DataFrame to a CSV file
# combined_df.to_csv('comb_icms.csv', index=False)

# print("Combined DataFrame has been saved as 'comb_icms.csv'.")

In [10]:
# simbjan20 = pd.read_csv('./filtered_simba/2020 Jan-June_filtered.csv')
# simbjuly20 = pd.read_csv('./filtered_simba/2020 Jul-Dec_filtered.csv')
# simbjan21 = pd.read_csv('./filtered_simba/2021 Jan-June_filtered.csv')
# simbjuly21 = pd.read_csv('./filtered_simba/2021 Jul-Dec_filtered.csv')
# simbjan22 = pd.read_csv('./filtered_simba/2022 Jan-June_filtered.csv')
# simbjuly22 = pd.read_csv('./filtered_simba/2022 Jul-Dec_filtered.csv')
# simb23 = pd.read_csv('./filtered_simba/2023_filtered.csv')

In [11]:
# Extract columns from each DataFrame
# cols_simbjan20 = set(simbjan20.columns)
# cols_simbjuly20 = set(simbjuly20.columns)
# cols_simbjan21 = set(simbjan21.columns)
# cols_simbjuly21 = set(simbjuly21.columns)
# cols_simbjan22 = set(simbjan22.columns)
# cols_simbjuly22 = set(simbjuly22.columns)
# cols_simb23 = set(simb23.columns)

# # List of column sets for easy comparison
# column_sets = [cols_simbjan20, cols_simbjuly20, cols_simbjan21, cols_simbjuly21, cols_simbjan22, cols_simbjuly22, cols_simb23]

# # Find the intersection of all columns (common columns)
# common_columns = set.intersection(*column_sets)
# print(f"Common columns across all Simba DataFrames:\n{common_columns}\n")

# # Find unique columns in each DataFrame
# for i, cols in enumerate(column_sets):
#     unique_cols = cols - common_columns
#     if unique_cols:
#         print(f"Unique columns in Simba DataFrame {i + 1}:\n{unique_cols}\n")
#     else:
#         print(f"Simba DataFrame {i + 1} has no unique columns.\n")

In [12]:
# If all columns are the same, combine the DataFrames
# if all(cols == cols_simbjan20 for cols in column_sets):
#     combined_simba_df = pd.concat([simbjan20, simbjuly20, simbjan21, simbjuly21, simbjan22, simbjuly22, simb23], ignore_index=True)
#     print("All columns are the same. DataFrames combined.")
# else:
#     print("Columns are not the same. Cannot combine DataFrames directly.")

In [13]:
# Save the combined DataFrame to a CSV file if they were combined
# if 'combined_simba_df' in locals():
#     combined_simba_df.to_csv('./final_data/comb_simba.csv', index=False)
#     print("Combined Simba DataFrame has been saved as 'comb_simba.csv'.")

In [14]:
#loading the datasets
# icms = pd.read_csv('./final_data/comb_icms.csv')
simba = pd.read_csv('./final_data/comb_simba.csv')
exports = pd.read_csv('./final_data/dom_exports.csv')

In [3]:
# icms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18563 entries, 0 to 18562
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   YEAR                    18563 non-null  int64
 1   MONTH                   18563 non-null  object
 2   ENTRY_NUMBER            18563 non-null  object
 3   VERSION                 18563 non-null  int64
 4   ITEM_NUM                18563 non-null  int64
 5   ENTRYSTATUS             18563 non-null  object
 6   REG_DATE                18563 non-null  object
 7   REGIME                  18563 non-null  object
 8   CPC                     18563 non-null  object
 9   QUANTITY                18563 non-null  object
 10  FOB_VALUE               18563 non-null  object
 11  CURRENCY                18563 non-null  object
 12  ENTRY_CUSTOM_VALUE      18563 non-null  object
 13  HS_CHAPTER              18563 non-null  int64
 14  HSCODE                  18563 non-null  int64
 15  GOOD_DESCRIPTION        18563 non-null  object
 16  ORIGIN_COUNTRY_CODE     18563 non-null  object
 17  ORIGIN_COUNTRY_NAME     18563 non-null  object
 18  COUNTRY_OF_DESTINATION  18561 non-null  object
 19  COD_NAME                18561 non-null  object
 20  STATION                 18563 non-null  object
 21  PLACE_OF_DISCHARGE      18563 non-null  object
 22  TOTAL_TAX_PAYABLE       18563 non-null  object
 23  TOTAL_TAX_PAID          18563 non-null  object
 24  IMPORT_DUTY             18563 non-null  object
 25  IMPORT_VAT              18563 non-null  object
 26  EXCISE                  18563 non-null  int64
 27  EXPORT_DUTY             18563 non-null  int64
 28  IDF                     18563 non-null  object
 29  RDL                     18563 non-null  object
 30  RML                     18563 non-null  int64
 31  PRL                     18563 non-null  int64
 32  MSS                     18563 non-null  object
 33  OTHER_TAX               18563 non-null  object
dtypes: int64(9), object(25)
memory usage: 4.8+ MB

In [15]:
standardized_columns = {
    'year': 'year',
    'month': 'month',
    'month_': 'month',
    'entry_number': 'entry_number',
    'version': 'version',
    'item_no': 'item_no',
    'item_num': 'item_no',
    'entrystatus': 'entrystatus',
    'regdate': 'regdate',
    'reg_date': 'regdate',
    'regime': 'regime',
    'cpc': 'cpc',
    'countryoforigin': 'countryoforigin',
    'origin_country_code': 'countryoforigin',
    'origin_country_name': 'origin_country_name',
    'countryofdestination': 'countryofdestination',
    'country_of_destination': 'countryofdestination',
    'port_of_discharge': 'port_of_discharge',
    'place_of_discharge': 'port_of_discharge',
    'hs_chapter': 'hs_chapter',
    'hscode': 'hscode',
    'description': 'description',
    'good_description': 'description',
    'quantity': 'quantity',
    'fob': 'fob_value',
    'fob_value': 'fob_value',
    'fobcurrencycode': 'currency',
    'currency': 'currency',
    'customsvalue': 'entry_custom_value',
    'entry_custom_value': 'entry_custom_value',
    'import_duty': 'import_duty',
    'import_vat': 'import_vat',
    'excise': 'excise',
    'vat_rate': 'vat_rate',
    'excise_rate': 'excise_rate',
    'duty_rate': 'duty_rate',
    'tax_payable': 'total_tax_payable',
    'total_tax_payable': 'total_tax_payable',
    'tax_remitted': 'total_tax_paid',
    'total_tax_paid': 'total_tax_paid',
    'rml': 'rml',
    'prl': 'prl',
    'other_tax': 'other_tax',
}

# Function to rename columns
def rename(df, col_map):
    # Lowercase the columns in the DataFrame
    df.columns = df.columns.str.lower().str.strip()
    # Rename the columns using the mapping dictionary
    df.rename(columns=col_map, inplace=True)
    return df

copy_simba = simba.copy()
# copy_icms = filtered_icms.copy()

# Exploratory Data Analysis

## Imports Data
Lets begin with imports data.

# Univariate

In [19]:
# copy_simba[copy_simba['FOB'].apply(clean_and_convert)]
gp_simba = pd.read_csv('./final_data/cleaned_comb_simba.csv')

gp_simba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12656 entries, 0 to 12655
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year                  12656 non-null  int64
 1   month_                12656 non-null  object
 2   entry_number          12656 non-null  object
 3   entrystatus           12656 non-null  object
 4   item_no               12656 non-null  int64
 5   regdate               10335 non-null  object
 6   regime                12656 non-null  object
 7   cpc                   12656 non-null  object
 8   countryoforigin       12656 non-null  object
 9   countryofdestination  3578 non-null   object
 10  port_of_discharge     12656 non-null  object
 11  hs_chapter            12656 non-null  int64
 12  hscode                12656 non-null  int64
 13  description           12656 non-null  object
 14  quantity              12656 non-null  object
 15  fob                   12656 non-null  object
 16  fobcurrencycode       10782 non-null  object
 17  cif_value             12656 non-null  object
 18  customsvalue          12656 non-null  object
 19  import_duty           10462 non-null  object
 20  excise                10462 non-null  float64
 21  import_vat            10462 non-null  object
 22  duty_rate             10462 non-null  float64
 23  excise_rate           10462 non-null  float64
 24  vat_rate              10462 non-null  float64
 25  bif                   507 non-null    float64
 26  vehicle_tax           10462 non-null  float64
 27  rml                   10462 non-null  float64
 28  prl                   10462 non-null  float64
 29  pdl                   10462 non-null  float64
 30  other_tax             10462 non-null  float64
 31  tax_payable           5366 non-null   float64
 32  tax_remitted          2291 non-null   float64
dtypes: float64(12), int64(4), object(17)
memory usage: 3.2+ MB