In [6]:
import pandas as pd
import numpy as np

In [7]:
jan2020 = pd.read_csv('./filtered_files/2020.csv')
feb2021 = pd.read_csv('./filtered_files/2021.csv')
june22 = pd.read_csv('./filtered_files/jan_june22.csv')
july22 = pd.read_csv('./filtered_files/july_dec22.csv')
june23 = pd.read_csv('./filtered_files/jan_june23.csv')
july23 = pd.read_csv('./filtered_files/july_nov23.csv')

In [8]:
jan2020.head()

,YEAR,MONTH,ENTRY_NUMBER,VERSION,ITEM_NUM,ENTRYSTATUS,REG_DATE,REGIME,CPC,QUANTITY,...,IMPORT_DUTY,IMPORT_VAT,EXCISE,EXPORT_DUTY,IDF,RDL,RML,PRL,MSS,OTHER_TAX
0,2020,2020-01,20NBOIM400081542,1,2,Settled,01/06/2020 12:42:15,IM4,IM400,0,...,"5,991","4,793",0,0,839,480,0,0,0,0
1,2020,2020-01,20NBOIMC00126967,1,1,Settled,01/06/2020 22:15:36,IMC,IM960,10,...,"7,110","12,514",0,0,"2,489","1,422",0,0,0,250
2,2020,2020-01,20MBAIMC00016307,1,3,Settled,01/06/2020 22:34:32,IMC,IM920,50,...,"3,180","2,544",0,0,446,255,0,0,0,0
3,2020,2020-01,20NBOIM400080042,1,1,Pending Removal,01/06/2020 12:33:27,IM4,IM400,1,...,"36,901","29,521",0,0,"5,167","2,953",0,0,0,250
4,2020,2020-01,20NBOIMC00138682,1,1,Pending Removal,01/07/2020 09:50:38,IMC,IM920,1,...,"2,696","2,157",0,0,378,216,0,0,0,250

In [9]:
feb2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2682 entries, 0 to 2681
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   YEAR                    2682 non-null   int64
 1   MONTH                   2682 non-null   object
 2   ENTRY_NUMBER            2682 non-null   object
 3   VERSION                 2682 non-null   int64
 4   ITEM_NUM                2682 non-null   int64
 5   ENTRYSTATUS             2682 non-null   object
 6   REG_DATE                2682 non-null   object
 7   REGIME                  2682 non-null   object
 8   CPC                     2682 non-null   object
 9   QUANTITY                2682 non-null   object
 10  FOB_VALUE               2682 non-null   object
 11  CURRENCY                2682 non-null   object
 12  ENTRY_CUSTOM_VALUE      2682 non-null   object
 13  HS_CHAPTER              2682 non-null   int64
 14  HSCODE                  2682 non-null   int64
 15  GOOD_DESCRIPTION        2682 non-null   object
 16  ORIGIN_COUNTRY_CODE     2682 non-null   object
 17  ORIGIN_COUNTRY_NAME     2682 non-null   object
 18  COUNTRY_OF_DESTINATION  2682 non-null   object
 19  COD_NAME                2682 non-null   object
 20  STATION                 2682 non-null   object
 21  PLACE_OF_DISCHARGE      2682 non-null   object
 22  TOTAL_TAX_PAYABLE       2682 non-null   object
 23  TOTAL_TAX_PAID          2682 non-null   object
 24  IMPORT_DUTY             2682 non-null   object
 25  IMPORT_VAT              2682 non-null   object
 26  EXCISE                  2682 non-null   int64
 27  EXPORT_DUTY             2682 non-null   int64
 28  IDF                     2682 non-null   object
 29  RDL                     2682 non-null   object
 30  RML                     2682 non-null   int64
 31  PRL                     2682 non-null   int64
 32  MSS                     2682 non-null   object
 33  OTHER_TAX               2682 non-null   object
dtypes: int64(9), object(25)
memory usage: 712.5+ KB

In [10]:
june22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3446 entries, 0 to 3445
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   YEAR                    3446 non-null   int64
 1   MONTH                   3446 non-null   object
 2   ENTRY_NUMBER            3446 non-null   object
 3   VERSION                 3446 non-null   int64
 4   ITEM_NUM                3446 non-null   int64
 5   ENTRYSTATUS             3446 non-null   object
 6   REG_DATE                3446 non-null   object
 7   REGIME                  3446 non-null   object
 8   CPC                     3446 non-null   object
 9   QUANTITY                3446 non-null   float64
 10  FOB_VALUE               3446 non-null   float64
 11  CURRENCY                3446 non-null   object
 12  ENTRY_CUSTOM_VALUE      3446 non-null   float64
 13  HS_CHAPTER              3446 non-null   int64
 14  HSCODE                  3446 non-null   int64
 15  GOOD_DESCRIPTION        3446 non-null   object
 16  ORIGIN_COUNTRY_CODE     3446 non-null   object
 17  ORIGIN_COUNTRY_NAME     3446 non-null   object
 18  COUNTRY_OF_DESTINATION  3446 non-null   object
 19  COD_NAME                3446 non-null   object
 20  STATION                 3446 non-null   object
 21  PLACE_OF_DISCHARGE      3446 non-null   object
 22  TOTAL_TAX_PAYABLE       3446 non-null   int64
 23  TOTAL_TAX_PAID          3446 non-null   int64
 24  IMPORT_DUTY             3446 non-null   int64
 25  IMPORT_VAT              3446 non-null   int64
 26  EXCISE                  3446 non-null   int64
 27  EXPORT_DUTY             3446 non-null   int64
 28  IDF                     3446 non-null   int64
 29  RDL                     3446 non-null   int64
 30  RML                     3446 non-null   int64
 31  PRL                     3446 non-null   int64
 32  MSS                     3446 non-null   int64
 33  OTHER_TAX               3446 non-null   int64
dtypes: float64(3), int64(17), object(14)
memory usage: 915.5+ KB

In [11]:
july22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4015 entries, 0 to 4014
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   YEAR                    4015 non-null   int64
 1   MONTH                   4015 non-null   object
 2   ENTRY_NUMBER            4015 non-null   object
 3   VERSION                 4015 non-null   int64
 4   ITEM_NUM                4015 non-null   int64
 5   ENTRYSTATUS             4015 non-null   object
 6   REG_DATE                4015 non-null   object
 7   REGIME                  4015 non-null   object
 8   CPC                     4015 non-null   object
 9   QUANTITY                4015 non-null   object
 10  FOB_VALUE               4015 non-null   object
 11  CURRENCY                4015 non-null   object
 12  ENTRY_CUSTOM_VALUE      4015 non-null   object
 13  HS_CHAPTER              4015 non-null   int64
 14  HSCODE                  4015 non-null   int64
 15  GOOD_DESCRIPTION        4015 non-null   object
 16  ORIGIN_COUNTRY_CODE     4015 non-null   object
 17  ORIGIN_COUNTRY_NAME     4015 non-null   object
 18  COUNTRY_OF_DESTINATION  4014 non-null   object
 19  COD_NAME                4014 non-null   object
 20  STATION                 4015 non-null   object
 21  PLACE_OF_DISCHARGE      4015 non-null   object
 22  TOTAL_TAX_PAYABLE       4015 non-null   object
 23  TOTAL_TAX_PAID          4015 non-null   object
 24  IMPORT_DUTY             4015 non-null   object
 25  IMPORT_VAT              4015 non-null   object
 26  EXCISE                  4015 non-null   int64
 27  EXPORT_DUTY             4015 non-null   int64
 28  IDF                     4015 non-null   object
 29  RDL                     4015 non-null   object
 30  RML                     4015 non-null   int64
 31  PRL                     4015 non-null   int64
 32  MSS                     4015 non-null   object
 33  OTHER_TAX               4015 non-null   object
dtypes: int64(9), object(25)
memory usage: 1.0+ MB

In [12]:
june23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4577 entries, 0 to 4576
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   YEAR                    4577 non-null   int64
 1   MONTH                   4577 non-null   object
 2   ENTRY_NUMBER            4577 non-null   object
 3   VERSION                 4577 non-null   int64
 4   ITEM_NUM                4577 non-null   int64
 5   ENTRYSTATUS             4577 non-null   object
 6   REG_DATE                4577 non-null   object
 7   REGIME                  4577 non-null   object
 8   CPC                     4577 non-null   object
 9   QUANTITY                4577 non-null   float64
 10  FOB_VALUE               4577 non-null   float64
 11  CURRENCY                4577 non-null   object
 12  ENTRY_CUSTOM_VALUE      4577 non-null   float64
 13  HS_CHAPTER              4577 non-null   int64
 14  HSCODE                  4577 non-null   int64
 15  GOOD_DESCRIPTION        4577 non-null   object
 16  ORIGIN_COUNTRY_CODE     4577 non-null   object
 17  ORIGIN_COUNTRY_NAME     4577 non-null   object
 18  COUNTRY_OF_DESTINATION  4577 non-null   object
 19  COD_NAME                4577 non-null   object
 20  STATION                 4577 non-null   object
 21  PLACE_OF_DISCHARGE      4577 non-null   object
 22  TOTAL_TAX_PAYABLE       4577 non-null   int64
 23  TOTAL_TAX_PAID          4577 non-null   int64
 24  IMPORT_DUTY             4577 non-null   int64
 25  IMPORT_VAT              4577 non-null   int64
 26  EXCISE                  4577 non-null   int64
 27  EXPORT_DUTY             4577 non-null   int64
 28  IDF                     4577 non-null   int64
 29  RDL                     4577 non-null   int64
 30  RML                     4577 non-null   int64
 31  PRL                     4577 non-null   int64
 32  MSS                     4577 non-null   int64
 33  OTHER_TAX               4577 non-null   int64
dtypes: float64(3), int64(17), object(14)
memory usage: 1.2+ MB

In [13]:
july23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3042 entries, 0 to 3041
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   YEAR                    3042 non-null   int64
 1   MONTH                   3042 non-null   object
 2   ENTRY_NUMBER            3042 non-null   object
 3   VERSION                 3042 non-null   int64
 4   ITEM_NUM                3042 non-null   int64
 5   ENTRYSTATUS             3042 non-null   object
 6   REG_DATE                3042 non-null   object
 7   REGIME                  3042 non-null   object
 8   CPC                     3042 non-null   object
 9   QUANTITY                3042 non-null   float64
 10  FOB_VALUE               3042 non-null   float64
 11  CURRENCY                3042 non-null   object
 12  ENTRY_CUSTOM_VALUE      3042 non-null   float64
 13  HS_CHAPTER              3042 non-null   int64
 14  HSCODE                  3042 non-null   int64
 15  GOOD_DESCRIPTION        3042 non-null   object
 16  ORIGIN_COUNTRY_CODE     3042 non-null   object
 17  ORIGIN_COUNTRY_NAME     3042 non-null   object
 18  COUNTRY_OF_DESTINATION  3041 non-null   object
 19  COD_NAME                3041 non-null   object
 20  STATION                 3042 non-null   object
 21  PLACE_OF_DISCHARGE      3042 non-null   object
 22  TOTAL_TAX_PAYABLE       3042 non-null   int64
 23  TOTAL_TAX_PAID          3042 non-null   int64
 24  IMPORT_DUTY             3042 non-null   int64
 25  IMPORT_VAT              3042 non-null   int64
 26  EXCISE                  3042 non-null   int64
 27  EXPORT_DUTY             3042 non-null   int64
 28  IDF                     3042 non-null   int64
 29  RDL                     3042 non-null   int64
 30  RML                     3042 non-null   int64
 31  PRL                     3042 non-null   int64
 32  MSS                     3042 non-null   int64
 33  OTHER_TAX               3042 non-null   int64
dtypes: float64(3), int64(17), object(14)
memory usage: 808.2+ KB

In [14]:
# Extract columns from each DataFrame
cols_jan2020 = set(jan2020.columns)
cols_feb2021 = set(feb2021.columns)
cols_june22 = set(june22.columns)
cols_july22 = set(july22.columns)
cols_june23 = set(june23.columns)
cols_july23 = set(july23.columns)

# List of column sets for easy comparison
column_sets = [cols_jan2020, cols_feb2021, cols_june22, cols_july22, cols_june23, cols_july23]

# Find the intersection of all columns (common columns)
common_columns = set.intersection(*column_sets)
print(f"Common columns across all DataFrames:\n{common_columns}\n")

# Find unique columns in each DataFrame
for i, cols in enumerate(column_sets):
    unique_cols = cols - common_columns
    if unique_cols:
        print(f"Unique columns in DataFrame {i + 1}:\n{unique_cols}\n")
    else:
        print(f"DataFrame {i + 1} has no unique columns.\n")

Common columns across all DataFrames:
{'MONTH', 'ORIGIN_COUNTRY_NAME', 'ENTRY_NUMBER', 'PRL', 'QUANTITY', 'RDL', 'TOTAL_TAX_PAID', 'RML', 'OTHER_TAX', 'MSS', 'YEAR', 'COUNTRY_OF_DESTINATION', 'EXPORT_DUTY', 'ITEM_NUM', 'GOOD_DESCRIPTION', 'EXCISE', 'FOB_VALUE', 'HS_CHAPTER', 'ENTRYSTATUS', 'IDF', 'VERSION', 'COD_NAME', 'ENTRY_CUSTOM_VALUE', 'ORIGIN_COUNTRY_CODE', 'CURRENCY', 'REG_DATE', 'CPC', 'STATION', 'IMPORT_DUTY', 'HSCODE', 'REGIME', 'TOTAL_TAX_PAYABLE', 'IMPORT_VAT', 'PLACE_OF_DISCHARGE'}

DataFrame 1 has no unique columns.

DataFrame 2 has no unique columns.

DataFrame 3 has no unique columns.

DataFrame 4 has no unique columns.

DataFrame 5 has no unique columns.

DataFrame 6 has no unique columns.

In [15]:
combined_df = pd.concat([jan2020, feb2021, june22, july22, june23, july23], ignore_index=True)

# Save the combined DataFrame to a CSV file
combined_df.to_csv('comb_icms.csv', index=False)

print("Combined DataFrame has been saved as 'comb_icms.csv'.")

Combined DataFrame has been saved as 'comb_icms.csv'.

In [ ]:
combined_df

In [16]:
simbjan20 = pd.read_csv('./filtered_simba/2020 Jan-June_filtered.csv')
simbjuly20 = pd.read_csv('./filtered_simba/2020 Jul-Dec_filtered.csv')
simbjan21 = pd.read_csv('./filtered_simba/2021 Jan-June_filtered.csv')
simbjuly21 = pd.read_csv('./filtered_simba/2021 Jul-Dec_filtered.csv')
simbjan22 = pd.read_csv('./filtered_simba/2022 Jan-June_filtered.csv')
simbjuly22 = pd.read_csv('./filtered_simba/2022 Jul-Dec_filtered.csv')
simb23 = pd.read_csv('./filtered_simba/2023_filtered.csv')

In [17]:
# Extract columns from each DataFrame
cols_simbjan20 = set(simbjan20.columns)
cols_simbjuly20 = set(simbjuly20.columns)
cols_simbjan21 = set(simbjan21.columns)
cols_simbjuly21 = set(simbjuly21.columns)
cols_simbjan22 = set(simbjan22.columns)
cols_simbjuly22 = set(simbjuly22.columns)
cols_simb23 = set(simb23.columns)

# List of column sets for easy comparison
column_sets = [cols_simbjan20, cols_simbjuly20, cols_simbjan21, cols_simbjuly21, cols_simbjan22, cols_simbjuly22, cols_simb23]

# Find the intersection of all columns (common columns)
common_columns = set.intersection(*column_sets)
print(f"Common columns across all Simba DataFrames:\n{common_columns}\n")

# Find unique columns in each DataFrame
for i, cols in enumerate(column_sets):
    unique_cols = cols - common_columns
    if unique_cols:
        print(f"Unique columns in Simba DataFrame {i + 1}:\n{unique_cols}\n")
    else:
        print(f"Simba DataFrame {i + 1} has no unique columns.\n")

Common columns across all Simba DataFrames:
{'VAT_RATE', 'ENTRY_NUMBER', 'PRL', 'QUANTITY', 'REGDATE', 'PORT_OF_DISCHARGE', 'RML', 'OTHER_TAX', 'FOBCURRENCYCODE', 'BIF', 'DUTY_RATE', 'YEAR', 'EXCISE_RATE', 'COUNTRYOFORIGIN', 'TAX_PAYABLE', 'EXCISE', 'ENTRYSTATUS', 'HS_CHAPTER', 'CIF_VALUE', 'FOB', 'DESCRIPTION', 'MONTH_', 'CPC', 'IMPORT_DUTY', 'COUNTRYOFDESTINATION', 'IMPORT_VAT', 'CUSTOMSVALUE', 'PDL', 'HSCODE', 'TAX_REMITTED', 'REGIME', 'ITEM_NO', 'VEHICLE_TAX'}

Simba DataFrame 1 has no unique columns.

Simba DataFrame 2 has no unique columns.

Simba DataFrame 3 has no unique columns.

Simba DataFrame 4 has no unique columns.

Simba DataFrame 5 has no unique columns.

Simba DataFrame 6 has no unique columns.

Simba DataFrame 7 has no unique columns.

In [18]:
# If all columns are the same, combine the DataFrames
if all(cols == cols_simbjan20 for cols in column_sets):
    combined_simba_df = pd.concat([simbjan20, simbjuly20, simbjan21, simbjuly21, simbjan22, simbjuly22, simb23], ignore_index=True)
    print("All columns are the same. DataFrames combined.")
else:
    print("Columns are not the same. Cannot combine DataFrames directly.")

All columns are the same. DataFrames combined.

In [19]:
# Save the combined DataFrame to a CSV file if they were combined
if 'combined_simba_df' in locals():
    combined_simba_df.to_csv('./final_data/comb_simba.csv', index=False)
    print("Combined Simba DataFrame has been saved as 'comb_simba.csv'.")

Combined Simba DataFrame has been saved as 'comb_simba.csv'.